#container {
  height: 100vh;
  overflow: hidden;
}

#sidebar {
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  width: 30%;
  border-right: 1px solid #000;
  padding: 10px;
}

#main {
  display: inline-block;
  margin-left: 30%;
  height: 100%;
  width: 70%;
}

#messages-list {
  padding: 10px;
  height: 95%;
  margin-bottom: 5%;
  overflow: hidden;
  overflow-y: auto;
}
#new-message {
  position: fixed;
  bottom: 0;
  padding: 10px;
}
